  /* Bem-vindo */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: #837E9F;
}

body {
   background: #22212C;
}

main {
   width: 100%;
   height: 100%;
   color: #837E9F;
   font-family: 'Merriweather Sans', sans-serif;
   display: flex;
   justify-content: center;
   gap: 40px;
}
/* Começo conteiner1*/
.conteiner {
   padding-top: 40px;
   display: flex;
   flex-direction: column;
}
/* Começo box1 */
.box1 {
   width: 345px;
   height: 256px;
   background-color: #302F3D;
   display: flex;
   border-radius: 20px;
 
}
.origin {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 100px;
   margin-left: 125px;
   margin-top: 30px;
   border: 2px solid #00FF00;
}
.meu-nome {
   margin-left: 80px;
   margin-top: 20px;
   font-size: 20px;
}
.sou {
   margin-left: 130px;
   margin-top: 10px;
   font-size: 10px;
   font-family: 'Roboto', sans-serif;
}
/* Começo box2 */
.box2 {
   width: 345px;
   height: 350px;
   background-color: #302F3D;
   margin-top: 25px;
   display: flex;
  
   border-radius: 20px;
}
.local {
   display: flex;
   align-items: center;
   margin-top: 40px;
   size: 10px;
}
 .icon-localização {
   margin-left: 40px;
   display: flex;
   
 }
 .nome-país {
   margin-left: 20px;
   size: 10px;
   font-family: 'Roboto', sans-serif;
 }
 .trabalho {
   display: flex;
   align-items: center;
   margin-top: 20px;
 }
 .icon-trabalho {
   margin-left: 40px;
   
}
.nome-trabalho {
   font-family: 'Roboto', sans-serif;
   size: 10px;
   margin-left: 20px;
}

.github {
   display: flex;
   align-items: center;
   margin-top: 20px;
   }
.icon-github {
margin-left: 40px;
}
.nome-github {
   font-family: 'Roboto', sans-serif;
   size: 10px;
   margin-left: 20px;
}

.linkedin {
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.icon-linkedin {
   margin-left: 40px;
}
.nome-linkedin {
   font-family: 'Roboto', sans-serif;
   size: 10px;
   margin-left: 20px;
}
.twitter {
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.icon-twitter {
   margin-left: 40px;
}
.nome-twitter {
   font-family: 'Roboto', sans-serif;
   size: 10px;
   margin-left: 20px;
}

.portfolio {
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.icon-portfolio {
   margin-left: 40px;
}
.nome-portfolio {
   font-family: 'Roboto', sans-serif;
   size: 10px;
   margin-left: 20px;
}
.email {
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.icon-email {
   margin-left: 40px;
   
}
.nome-email {
   font-family: 'Roboto', sans-serif;
   size: 10px;
   margin-left: 20px;
}
/* Começo box3 */
.box3 {
   width: 345px;
   height: 208px;
   background-color: #302F3D;
 
   margin-top: 25px;
   display: flex;
   border-radius: 20px;
   
}
.tec-titulo {
  margin-left: 19.99px;
  margin-top: 33px;
  font-size: 20px;
}

.javascript {
   position: absolute;
   width: 86px;
   height: 24px;
   background-color:  #CB92B1;
   align-items: center;
   display: flex;
   margin-top: 76px;
   margin-left: 30px;
   border-radius: 20px;
}
.java {
   color:  #000000;
   font-family: 'Merriweather Sans';
   font-size: 10px;
   margin-left: 13px;
}
.css {
   position: absolute;
   width: 86px;
   height: 24px;
   background-color:  #CB92B1;
   align-items: center;
   display: flex;
   margin-top: 76px;
   margin-left: 130px;
   border-radius: 20px;
}
.meu-css {
   color:  #000000;
   font-family: 'Merriweather Sans';
   font-size: 10px;
   margin-left: 33px;
}
.html {
   position: absolute;
   width: 86px;
   height: 24px;
   background-color:  #CB92B1;
   align-items: center;
   display: flex;
   margin-top: 76px;
   margin-left: 230px;
   border-radius: 20px;
}
.meu-html {
   color:  #000000;
   font-family: 'Merriweather Sans';
   font-size: 10px;
   margin-left: 29px;
}
.github2 {
   position: absolute;
   width: 86px;
   height: 24px;
   background-color:  #CB92B1;
   align-items: center;
   display: flex;
   margin-top: 110px;
   margin-left: 30px;
   border-radius: 20px;
}
.meu-github2 {
   color:  #000000;
   font-family: 'Merriweather Sans';
   font-size: 10px;
   margin-left: 23px;
}
.novo1 {
   position: absolute;
   width: 86px;
   height: 24px;
   background-color:  #CB92B1;
   align-items: center;
   display: flex;
   margin-top: 110px;
   margin-left: 130px;
   border-radius: 20px;
}
.novo2 {
   color:  #000000;
   font-family: 'Merriweather Sans';
   font-size: 10px;
   margin-left: 37px;
   display: flex;
}
/* Começo box4 */
.box4 {
   width: 345px;
   height: 349px;
   background-color: #302F3D;
 
   margin-top: 25px;
   display: flex;
   border-radius: 20px;
}
.meu-xp {
   margin-left: 19.99px;
   margin-top: 33px;
   font-size: 20px;
}
.xp {
   margin-top: 76px;
   margin-left: 60px;
   position: absolute;
   
}
li {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
/* Começo box5 */
.box5 {
   width: 345px;
   height: 352px;
   background-color: #302F3D;
   
   margin-top: 25px;
   display: flex;
   border-radius: 20px;
}
.meu-educ {
   margin-left: 19.99px;
   margin-top: 33px;
   font-size: 20px;
}
.educ {
   margin-top: 76px;
   margin-left: 60px;
   position: absolute;
}
/* Fim do conteiner1 */
/* Começo conteiner2*/
.conteiner2 {
   padding-top: 40px;
   
   display: flex;
   flex-direction: column;
}
/* Começo box6 */
.box6 {
   width: 884px;
   height: 86px;
   background-color: #302F3D;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
}
.meu-projtc {
   display: flex;
   justify-content: left ;
   align-items: center;
   margin-left: 30px;
   font-size: 20px;
}
.todos-projtc {
   display: flex; 
   margin-right: 30px;
   align-items: center;
   font-size: 14px;
}
/* Começo box7-8 */
.box7-8 {
   display: flex;
   margin-top: 20px;
}
/* parte1 */
.bolinha {
   display: flex;
}
.my-onix {
  width: 430px;
  height: 150px;
  background-color: #302F3D;
  border-radius: 20px;
}
.link-onix {
   display: flex;
   margin-top: 30px;   
}
.icon-pasta {
   display: flex;
   margin-left: 30px;
}
.nome-onix {
 display: flex;
 margin-left: 16px;
}
.tex-consulte {
   font-size: 11px;
   font-family: 'Roboto', sans-serif;
   margin-left: 30px;
   margin-top: 22px;
}
.link-star {
   display: flex;
   margin-top: 30px;  
}
.icon-star {
   display: flex;
   margin-left: 30px;
}
.nome-star {
   display: flex;
   font-family: 'Roboto', sans-serif;
   font-size: 11px;
   margin-top: 5px;
   margin-left: 8px;
}
.icon-branch {
   display: flex;
   margin-left: 16px;
}
.nome-branch {
   display: flex;
   font-family: 'Roboto', sans-serif;
   font-size: 11px;
   margin-top: 5px;
   margin-left: 8px;
}
.bola {
   display: flex;
   position: absolute;
   width: 15px;
   height: 15px;
   background: #E7DE79;
   border-radius: 20px;
   border: 2px solid #837E9F;
   margin-left: 180px;
}
.my-bola {
   display: flex;
   margin-left: 200px;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
}
 /* parte dois */
.my-onix2 {
   width: 429px;
   height: 150px;
   background-color: #302F3D;
   border-radius: 20px;
   margin-left: 25px;
 }
 .link-onix2 {
   display: flex;
   margin-top: 30px;   
}
.icon-pasta2 {
   display: flex;
   margin-left: 30px;
}
.nome-onix2 {
   display: flex;
   margin-left: 16px;
}
.tex-consulte2 {
   font-size: 11px;
   font-family: 'Roboto', sans-serif;
   margin-left: 30px;
   margin-top: 22px;
}
.link-star2 {
   display: flex;
   margin-top: 30px;  
}
.icon-star2 {
   display: flex;
   margin-left: 30px;
}
.nome-star2 {
   display: flex;
   font-family: 'Roboto', sans-serif;
   font-size: 11px;
   margin-top: 5px;
   margin-left: 8px;
}
.icon-branch2 {
   display: flex;
   margin-left: 16px;
}
.nome-branch2 {
   display: flex;
   font-family: 'Roboto', sans-serif;
   font-size: 11px;
   margin-top: 5px;
   margin-left: 8px;
}
.bola2 {
   display: flex;
   position: absolute;
   width: 15px;
   height: 15px;
   background: #E7DE79;
   border-radius: 20px;
   border: 2px solid #837E9F;
   margin-left: 180px;
}
.my-bola2 {
   display: flex;
   margin-left: 200px;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
}
/* Começo box9*/

.box9 {
   width: 884px;
   height: 86px;
   background-color: #302F3D;
   border-radius: 20px;
   display: flex;
   margin-top: 25px;
}
.recentes {
   display: flex;
   justify-content: left ;
   align-items: center;
   margin-left: 30px;
   font-size: 20px;
}

.box10 {
   width: 884px;
   height: 201px;
   background-color: #302F3D;
   border-radius: 20px;
   display: flex;
   margin-top: 25px;
}
.origin2 {
   position: absolute;
   display: flex;
   width: 128px;
   height: 128px;
   object-fit: cover;
   border-radius: 100px;
   margin-left: 30px;
   margin-top: 31px;
}
.my-image {
   display: flex;
   margin-left: 170px;
   margin-top: 40px;
}
.anos {
   display: flex;
   margin-left: 170px;
   font-family: 'Roboto', sans-serif;
   font-size: 12px;
   margin-top: 10px;
}
.my-image2 {
   display: flex;
   margin-left: 170px;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   margin-top: 30px;
}
.frases {
   display: flex;
   font-size: 13px;
   margin-left: 170px;
   margin-top: 11px;
}
.frase1 {
   display: flex;
  position: absolute;
}
.frase2 {
   position: absolute;
   margin-left: 100px;
}
.frase3 {
   position: absolute;
   margin-left: 200px;
}
.frase4 {
   
   margin-left: 300px;
}

.final-footer {
   color: #837E9F;
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 14px;
   text-align: center;
   padding-top: 19px;
   padding-bottom: 20px;
}

/* Responsividade */

@media (max-width: 700px) {
   main {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      justify-content: center;
      align-items: center;
      
      gap: 0px;
   }

   .box6 {
      width: 345px;
   }
   .tex-consulte {
      font-size: 16px;
   }
   .my-onix {
      width: 345px;
      height: 200px;
   }
   .bolinha {
      display: flex;
   }
   .bola {
      margin-left: 80px;
   }
   .my-bola {
      width: 345px;
      margin-left: 100px;
   }
   .box7-8 {
      flex-direction: column;
   }
   .my-onix2 {
      margin-top: 20px;
      width: 345px;
      height: 200px;
      margin-left: 0;
   }
   .bolinha2 {
      display: flex;
   }
   .bola2 {
      margin-left: 80px;
   }
   .my-bola2 {
      width: 345px;
      margin-left: 100px;
   }
   .tex-consulte2 {
      font-size: 16px;
   } 

   .box9 {
      width: 345px;
   }
   
   .box10 {
      
      width: 345px;
      height: 400px;
   }
   .origin2 {
      
      margin-left: 110px;
   }
  .my-image {
   word-wrap:  break-word;
   width: 20em;
   margin-top: 180px;
   margin-left: 10px;
   text-align: center;
  }
  .anos {
   margin-left: 20px;
   
  }
  .my-image2 {
   word-wrap:  break-word;
   width: 20em;
   margin-left: 10px;
   text-align: center;
  }
  
  .frase1 {
   margin-left: -100px;
  }
  .frase2 {
   margin-left: 0px;
  }
  .frase3 {
   margin-top: 20px;
   margin-left: -100px;
  }
  .frase4 {
   margin-top: 20px;
   margin-left: 0px;
  }
}
 